# Selecting Data
1. Run the cell below to setup this notebook

In [2]:
import pandas as pd
import numpy as np
import random

num_rows = 100
colors = ['Red', 'Blue', 'Green']

df = pd.DataFrame( {'color': [colors[random.randint(0,2)] for _ in range(num_rows)],
                    'integers': [random.randint(0,15) for _ in range(num_rows)],
                    'floats': [random.random() for _ in range(num_rows)]})
df.head()

  color  integers    floats
0  Blue        14  0.601799
1   Red         3  0.671423
2   Red         7  0.516849
3   Red         9  0.498767
4   Red         5  0.418270

In [8]:
df.color[0]

'Blue'

2. Create a mask named 'red_mask' with `True` for all rows where the color is equal to 'Red'. Remember that the equals operator is a double equals `==`.

In [14]:
red_mask = [True if df.color[idx] == 'Red' else False for idx in range(num_rows) ]

In [15]:
red_mask

[False,
 True,
 True,
 True,
 True,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False]

3. New create a DataFrame named 'red_df' by using the mask with the data frame `df`. You can use the mask in the simple bracket syntax to filter the DataFrame.

In [17]:
red_df = df[red_mask]
red_df

   color  integers    floats
1    Red         3  0.671423
2    Red         7  0.516849
3    Red         9  0.498767
4    Red         5  0.418270
7    Red        14  0.367446
9    Red         2  0.483045
10   Red         4  0.481814
11   Red         9  0.793491
14   Red        15  0.777763
15   Red         9  0.134912
18   Red         0  0.162778
22   Red        10  0.559842
24   Red         6  0.806184
29   Red        13  0.754933
32   Red        13  0.893709
38   Red        13  0.580047
41   Red         7  0.577675
42   Red         9  0.025862
45   Red        13  0.782558
49   Red        15  0.103930
52   Red        15  0.072913
56   Red         0  0.727705
66   Red        10  0.146126
67   Red        11  0.364948
71   Red        15  0.935823
73   Red         7  0.867520
78   Red        11  0.307655
79   Red        14  0.229688
81   Red        13  0.504269
82   Red        12  0.175008
83   Red         7  0.672782
85   Red         9  0.500653
93   Red         7  0.659857
98   Red         5  0.818288

4. Columns have a method, `.unique()`, which will return all unique values in that column. Call this method on the `red_df.color` to confirm that it only contians 'Red' values.

In [22]:
red_df.color.unique()

array(['Red'], dtype=object)

5. Now use the not operator, `~`, in combination with `red_mask`, to create a new DataFrame named 'no_red'. Simply put `~` in front of the mask to negate it.

In [40]:
import pandas as pd
no_red = df[~pd.Series(red_mask)]

6. Now check the values of `no_red.color` using the `.unique()` method to confirm that there are no 'Red' values.

In [41]:
no_red.color.unique()

array(['Blue', 'Green'], dtype=object)

7. Create a new mask named 'three_mask' for all rows where `integers <= 3`.

In [43]:
three_mask = [True if df.integers[idx]<=3 else False for idx in range(num_rows)]

8. Create a new DataFrame named 'mixed_df' containing only rows whose color is 'Red' and whose integer value is equal or less than 3 by using the 'and' operator, `&` between that masks.

In [46]:
mixed_df = pd.Series(three_mask) & pd.Series(red_mask)

9. Now use `.unique()` to check the values of the 'color' column

In [47]:
df[mixed_df].color.unique()

array(['Red'], dtype=object)

10. Use `.unique()` to check the values of the 'integer' column, confirming that they are all less than or equal to 3.